.projects-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 10rem;
}

.projects-page-inner-wrapper {
    max-width: 1280px;
    /* height: 100%; */
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;

}

.projects-page-header {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%;
    background: linear-gradient(160deg, rgba(255, 107, 107, 1) 0%, rgba(136, 4, 65, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin-bottom: 1rem;
}

.projects-page-projects {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-items: stretch;
    /* padding: 1rem 4rem; */
    gap: 1rem;
    flex-wrap: wrap;
    position: relative;
}

.bd-up-1 {
    position: absolute;
    content: '';
    width: 5rem;
    height: 3px;
    top: -1.5rem;
    right: -1.5rem;
    z-index: 10;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    border-bottom-left-radius: 999px;
    background: linear-gradient(160deg, rgba(255, 107, 107, 1) 0%, rgba(136, 4, 65, 1) 100%);
}

.bd-up-2 {
    position: absolute;
    content: '';
    width: 3px;
    height: 5rem;
    top: -1.5rem;
    right: -1.5rem;
    /* rotate: 90deg; */
    /* transform: translateX(200%), rotate(175deg); */
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
    z-index: 10;
    background: linear-gradient(160deg, rgba(136, 4, 65, 1) 0%, rgba(255, 107, 107, 1) 100%);
}

.bd-down-l-1 {
    position: absolute;
    content: '';
    width: 5rem;
    height: 3px;
    bottom: -1.5rem;
    left: -1.5rem;
    z-index: 10;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    border-bottom-left-radius: 999px;
    background: linear-gradient(160deg, rgba(255, 107, 107, 1) 0%, rgba(136, 4, 65, 1) 100%);
}

.bd-down-l-2 {
    position: absolute;
    content: '';
    width: 3px;
    height: 5rem;
    bottom: -1.5rem;
    left: -1.5rem;
    /* rotate: 90deg; */
    /* transform: translateX(200%), rotate(175deg); */
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
    z-index: 10;
    background: linear-gradient(160deg, rgba(136, 4, 65, 1) 0%, rgba(255, 107, 107, 1) 100%);
}

.bd-down-r-1 {
    position: absolute;
    content: '';
    width: 5rem;
    height: 3px;
    bottom: -1.5rem;
    right: -1.5rem;
    z-index: 10;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px;
    border-bottom-left-radius: 999px;
    background: linear-gradient(160deg, rgba(255, 107, 107, 1) 0%, rgba(136, 4, 65, 1) 100%);
}

.bd-down-r-2 {
    position: absolute;
    content: '';
    width: 3px;
    height: 5rem;
    bottom: -1.5rem;
    right: -1.5rem;
    /* rotate: 90deg; */
    /* transform: translateX(200%), rotate(175deg); */
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
    z-index: 10;
    background: linear-gradient(160deg, rgba(255, 107, 107, 1) 0%, rgba(136, 4, 65, 1) 100%);
}
