.projects-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 10rem;

    & a {
        transition-duration: 0.2s;
    }

    & a:hover {
        color: whitesmoke
    }
}

.projects-page-inner-wrapper {
    max-width: 1280px;
    /* height: 100%; */
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;

}

.projects-page-header {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%;
    background: linear-gradient(160deg, rgba(255, 107, 107, 1) 0%, rgba(136, 4, 65, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin-bottom: 1rem;
}

.projects-page-projects {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-items: stretch;
    /* padding: 1rem 4rem; */
    gap: 1rem;
    flex-wrap: wrap;
    position: relative;
}

@media screen and (max-width: 520px) {

    .projects-page-inner-wrapper {
        font-size: 0.875rem;

        & h3 {
            font-size: 1.2rem;
        }

        & .project-page-sub-header {
            font-size: 1rem;
        }
    }

    .bd-up-r-1,
    .bd-up-r-2 {
        display: none;
    }
}

@media screen and (max-width: 473px) {

    /* .projects-page-projects {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    } */

    .projects-page-inner-wrapper {
        padding: 0 1rem;
    }

    .bd-up-r-1,
    .bd-down-r-1,
    .bd-up-r-2,
    .bd-down-l-1,
    .bd-down-l-2,
    .bd-up-r-2 {
        display: none;
    }
}

@media screen and (max-width: 440px) {

    .projects-page-projects {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
