.hero-hello {
    color: #ff6b6b;
    color: whitesmoke;
    font-size: 1.5rem;
    line-height: 100%;
    font-weight: 300;
}

.hero-wrapper {
    margin-top: 10rem;
    padding: 1rem;
}

.hero-name {
    font-size: 5rem;
    font-weight: 700;
    line-height: 100%;
    background: linear-gradient(160deg, rgba(255, 107, 107, 1) 0%, rgba(136, 4, 65, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-bio {
    color: whitesmoke;
    line-height: 100%;
    font-size: 1.5rem;
    font-weight: 300;
}

.post-bio {
    content: '';
}

.post-bio.show {
    background-color: whitesmoke;
    content: '.';
}

@media screen and (max-width: 735px) {
    .hero-name {
        font-size: 4rem;
    }
}

@media screen and (max-width: 596px) {
    .hero-name {
        font-size: 3rem;
    }
}

@media screen and (max-width: 457px) {
    .hero-name {
        font-size: 2.5rem;
    }

    .hero-hello,
    .hero-bio {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 388px) {
    .hero-name {
        font-size: 2.2rem;
    }

    .hero-hello,
    .hero-bio {
        font-size: 1.2rem;
    }
}
