.nav-outer-wrapper {
    display: flex;
    /* background-color: darkcyan; */
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.nav-inner-wrapper {
    /* background-color: red; */
    padding: 0 2rem;
    max-width: 1280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-list {
    color: whitesmoke;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: rebeccapurple; */
    gap: 2rem;

    &>li,
    a {
        list-style: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: #ff6b6b;
        }
    }
}

.nav-rocket-wrapper {
    background: linear-gradient(160deg, rgba(255, 107, 107, 1) 0%, rgba(136, 4, 65, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin-right: auto;
    border-radius: 999px;
    cursor: pointer;
    position: relative;

    & .nav-rocket {
        font-size: 1.2rem;
        color: whitesmoke;
        position: relative;
        z-index: 2;
    }

    & .nav-rocket-fire {
        bottom: 7px;
        left: 7px;
        position: absolute;
        z-index: 1;
        color: #f75a1c;
        transform: rotate(215deg);
    }

    &:hover .nav-rocket {
        /* animation: rocket-shake 0.6s linear infinite, rocket-spin 0.2s ease-in-out forwards; */
    }

    &:hover .nav-rocket-fire {
        /* animation: rocket-fire-shake 0.6s linear infinite, rocket-fire-spin 0.2s ease-in-out forwards; */
    }
}

@keyframes rocket-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}

@keyframes rocket-shake {
    0% {
        top: 0px;
        left: 0px;
    }

    25% {
        top: -4px;
        left: -2px
    }

    50% {
        top: 0px;
        left: 0px;
    }

    75% {
        top: -3px;
        left: 2px;
    }

    100% {
        top: 0px;
        left: 0px;
    }
}

@keyframes rocket-fire-spin {
    0% {
        bottom: 7px;
        left: 7px;
        transform: rotate(215deg);
        /* position: absolute; */
        /* transform: rotate(0deg); */
    }

    100% {
        /* bottom: 5px;
        left: 10px; */
        transform: rotate(180deg);
    }
}

@keyframes rocket-fire-shake {
    0% {
        bottom: 5px;
        left: 10px;
    }

    25% {
        bottom: 9px;
        left: 8px
    }

    50% {
        bottom: 5px;
        left: 10px;
    }

    75% {
        bottom: 8px;
        left: 12px;
    }

    100% {
        bottom: 5px;
        left: 10px;
    }
}

@media screen and (max-width: 400px) {
    .nav-inner-wrapper {
        padding: 0 1rem;
    }
}
