.projects-wrapper {
    margin-top: 13rem;
    /* background-color: rebeccapurple; */
    max-width: 1280px;
    width: 100%;
    padding: 1.4rem;

    /* background: linear-gradient(#191A21, #191A21) padding-box,
        linear-gradient(to right, rgba(255, 107, 107, 1) 0%, rgba(136, 4, 65, 1)) border-box;
    border-radius: 1.2rem;
    border: 1px solid transparent; */
}

.projects-header {
    color: whitesmoke;
    align-self: center;
    justify-self: center;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.247);
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.projects-tag {
    color: rgba(255, 107, 107, 1);
    font-size: 1.1rem;

    &>span {
        color: #808080;
    }

    &.inner {
        margin-left: 2rem;
    }
}

.projects-tag::first-letter {
    color: #808080;
}

.projects-holder {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    align-items: center;
    padding: 1rem 4rem;
    gap: 1rem;
    flex-wrap: wrap;

    & img {
        border-radius: 1rem;
    }
}
